/* * {
    outline: 2px solid green;
} */

.container {
    width: 95% !important;
    max-width: 95% !important;
}

#config-form {
    width: 50% !important;
    max-width: 50% !important;
    margin:auto;
}

#config-json {
    height:80vh !important;
}

#batchedJobsAccordion {
    text-align: left !important;
}