<!-- index.html -->
{% extends "base.html" %}

{% block title %}Home - Your App{% endblock %}

{% block content %}
    <h2>Welcome to Your App</h2>
    <p>This is the main landing page for your application. Customize this template to add relevant content and features.</p>
    <p>For example, you might include:</p>
    <ul>
        <li>Links to important sections of your app</li>
        <li>Brief descriptions of key features</li>
        <li>Call-to-action buttons or prompts</li>
    </ul>
{% endblock %}
