{% extends "base.html" %}

{% block title %}Executive Review - Code Reviser UI{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Executive Review</h2>
    <div id="revisionsAccordion">
        {% for revision in revisions %}
        <h2>{{ revision.filename }}</h2>
        <form method="post"
            action="{{ url_for('save_latest_revision', filename=revision.filename, revision_id=revision.revision_id) }}">
            <div class="mb-3">
                <label for="new_content" class="form-label">New Content</label>
                <textarea class="form-control" id="new_content" name="new_content" rows="20"
                    required>{{ revision.content }}</textarea>
            </div>
            <div class="mb-3">
                <label for="new_instruction" class="form-label">New Instructions</label>
                <textarea class="form-control" id="new_instruction" name="new_instruction" rows="5"
                    required>{{ revision.initial_instruction }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
        <hr />
        {% endfor %}
    </div>
</div>
{% endblock %}